@using System.Collections.Generic
@using StyleguideGenerator.Models.Data
<p>zzzzz</p>

<hr />

<p>
    @ViewBag.st
</p>

<hr />
<div>
    @foreach (var line in ViewBag.lines as List<SelectorsLine>)
    {
        <b><i>----------------------SelectorsLine</i></b>
        <div>
            <p><b> @line.Str</b>
            </p>
            <div>
                <b><i>Selectors</i></b>
                @foreach (var s in line.Selectors)
                {
                    <p>@s.Str</p>
                    <div>
                        <b><i>SelectorUnit</i></b>
                        @foreach (var u in s.Units)
                        {
                            <p><i>@u.Position</i> @u.Text <i>@u.Connect</i>
                            </p>
                            <ul>
                                <b><i>SelectorPart</i></b>
                                @foreach (var p in u.Parts)
                                {
                                    <li><i>@p.Position</i> @p.Title <i>@p.Type</i></li>
                                }
                            </ul>
                        }
                        <div>
                            @foreach (var p in s.PropertiesSet.Values)
                            {
                                <div>
                                    @p.Value
                                </div>
                            }
                        </div>

                    </div>

                }
            </div>
        </div>
    }
</div>
