@using StyleguideGenerator.Models
<p>zzzzz</p>

<hr />

<p>
    @ViewBag.st
</p>

<hr />
<div>
    @foreach (var line in ViewBag.lines as List<SelectorsLine>)
    {
        <div>
            <p><b> @line.Str</b></p>
            <div>
                @foreach (var s in line.Selectors)
                {
                    <p>@s.Str</p>
                    <div>
                        @foreach (var u in s.Units)
                        {
                            <p><i>@u.Position</i> @u.Text <i>@u.Connect</i></p>
                            <ul>
                                @foreach (var p in u.Parts)
                                {
                                    <li><i>@p.Position</i>  @p.Title <i>@p.Type</i></li>
                                }
                            </ul>                            
                        }
                        <div>
                            @foreach (var p in s.PropertiesSet.Values)
                            {
                                <div>
                                    @p.Value
                                </div>
                            }
                        </div>

                    </div>
                                     
                }                
            </div>            
        </div>
    }
</div>
