@using StyleguideGenerator.Models
<p>zzzzz</p>
@foreach (var g in ViewBag.g)
{
    <p>@g</p>
}


<hr />

<p>
    @ViewBag.st
</p>

<hr />
<div>
    @foreach (var line in ViewBag.lines as List<SelectorsLine>)
    {
        <div>
            <p><b> @line.StrLine</b></p>
            <div>
                @foreach (var s in line.Selectors)
                {
                    <p><i>@s.Index</i> @s.Text</p>
                    <ul>
                        @foreach (var u in s.Units)
                        {
                            <li><i>@u.Index</i>  @u.Name <i>@u.Type</i></li>
                        }
                    </ul>
                }
            </div>
            <div>
                @foreach(var p in line.Properties.Values)
                {
                    <div>
                        @p.Value
                    </div>
                }
            </div>
        </div>
    }
</div>
