@using StyleguideGenerator.Models.Data;
@model ClientProjectFile

<form method="post" asp-action="Edit" asp-controller="FileUpload">
    <input type="hidden" name="loadFile" id="loadFileFlag" value="true" />
    <select asp-for="@Model.ProjectId">
        @foreach (var p in ViewBag.ProjectsList as List<ProjectView>)
            {
            <option value="@p.ID">@p.Name</option>
        }
    </select>

    <label asp-for="@Model.Name"></label>
    <input type="text" asp-for="@Model.Name" value="@Model.Name" />
    <label asp-for="@Model.Source"></label>
    <textarea type="text" asp-for="@Model.Source"></textarea>
    </div>
</form>