@using StyleguideGenerator.Models.Data
@model ProjectFile

<div>
    <p>@Model.Name</p>
    <p>@Model.Source</p>
    <p>@Model.Type</p>
    <hr/>
    <p>@Model.Project.ID</p>
    <p>@Model.Project.Name</p>
</div>