@using StyleguideGenerator.Models.Data;
@model List<ProjectView>

@foreach (var p in Model)
{
    <div>
        <p>ID: @p.ID</p>
        <p>Название: <a href="@Url.Action("Show", new {name = p.Name})">@p.Name</a></p>
        <p>Описание: @p.Description</p>
        <p>Дата создания: @p.Created</p>
        <p>Кол-во файлов: @p.FileCount</p>
    </div>
    <hr />
}